@font-face {
    font-family: remixicon;
    src: url('../fonts/remixicon.eot?t=1715450031966');
    src: url('../fonts/remixicon.eot?t=1715450031966#iefix') format('embedded-opentype'),url("../fonts/remixicon.woff2?t=1715450031966") format("woff2"),url("../fonts/remixicon.woff?t=1715450031966") format("woff"),url('../fonts/remixicon.ttf?t=1715450031966') format('truetype'),url('../fonts/remixicon.svg?t=1715450031966#remixicon') format('svg');
    font-display: swap
}

[class*=ri-],[class^=ri-] {
    font-family: remixicon!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ri-lg {
    font-size: 1.3333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.ri-xl {
    font-size: 1.5em;
    line-height: .6666em;
    vertical-align: -.075em
}

.ri-xxs {
    font-size: .5em
}

.ri-xs {
    font-size: .75em
}

.ri-sm {
    font-size: .875em
}

.ri-1x {
    font-size: 1em
}

.ri-2x {
    font-size: 2em
}

.ri-3x {
    font-size: 3em
}

.ri-4x {
    font-size: 4em
}

.ri-5x {
    font-size: 5em
}

.ri-6x {
    font-size: 6em
}

.ri-7x {
    font-size: 7em
}

.ri-8x {
    font-size: 8em
}

.ri-9x {
    font-size: 9em
}

.ri-10x {
    font-size: 10em
}

.ri-fw {
    text-align: center;
    width: 1.25em
}

.ri-message-2-line:before {
    content: "\ef44"
}

.ri-heart-fill:before {
    content: "\ee0e"
}

.ri-telegram-fill:before {
    content: "\f1ef"
}

.ri-eye-line:before {
    content: "\ecb5"
}

.ri-camera-line:before {
    content: "\eb31"
}

.ri-film-line:before {
    content: "\ed21"
}

.ri-fire-line:before {
    content: "\ed33"
}

.ri-heart-pulse-line:before {
    content: "\ee11"
}

.ri-list-unordered:before {
    content: "\eebe"
}

.ri-women-line:before {
    content: "\f2ce"
}

.ri-star-line:before {
    content: "\f18b"
}

.ri-instagram-line:before {
    content: "\ee66"
}

.ri-mic-line:before {
    content: "\ef50"
}

.ri-lock-2-line:before {
    content: "\eecc"
}

.ri-telegram-line:before {
    content: "\f1f0"
}

.ri-arrow-up-s-line:before {
    content: "\ea78"
}

.ri-login-box-line:before {
    content: "\eed4"
}

.ri-close-line:before {
    content: "\eb99"
}

.ri-user-line:before {
    content: "\f264"
}

.ri-pencil-fill:before {
    content: "\efdf"
}

.ri-refresh-line:before {
    content: "\f064"
}

.ri-logout-circle-line:before {
    content: "\eedc"
}

.ri-earth-line:before {
    content: "\ec7a"
}

.ri-chat-2-line:before {
    content: "\eb4f"
}

.ri-fire-fill:before {
    content: "\ed32"
}

.ri-pencil-line:before {
    content: "\efe0"
}

.ri-add-line:before {
    content: "\ea13"
}

.ri-subtract-line:before {
    content: "\f1af"
}

.ri-reply-fill:before {
    content: "\f079"
}

.ri-delete-bin-7-fill:before {
    content: "\ec27"
}

.ri-send-plane-fill:before {
    content: "\f0d9"
}

.ri-arrow-left-s-line:before {
    content: "\ea64"
}

.ri-arrow-right-s-line:before {
    content: "\ea6e"
}

.ri-code-s-slash-line:before {
    content: "\ebad"
}

.ri-time-line:before {
    content: "\f20f"
}

.ri-home-2-line:before {
    content: "\ee19"
}

.ri-contacts-line:before {
    content: "\ebd2"
}

.ri-global-line:before {
    content: "\edcf"
}

.ri-search-line:before {
    content: "\f0d1"
}

.ri-menu-3-line:before {
    content: "\ef34"
}

.ri-checkbox-circle-line:before {
    content: "\eb81"
}

.ri-arrow-down-s-line:before {
    content: "\ea4e"
}

.ri-arrow-drop-right-line:before {
    content: "\ea54"
}

.ri-message-3-line:before {
    content: "\ef46"
}

.ri-message-3-fill:before {
    content: "\ef45"
}

:root {
    --dark-bg-primary: #1c1c1c;
    --dark-bg-secondary: #282828;
    --text-color: #D3D3D3;
    --link-primary: #F46E8F;
    --link-secondary: rgba(244,110,143,.8)
}

* {
    outline: none;
    padding: 0
}

::after {
    margin: 0;
    padding: 0
}

::before {
    margin: 0;
    padding: 0
}

body {
    font-family: Verdana,Geneva,sans-serif;
    background-color: var(--dark-bg-primary);
    color: var(--text-color)
}

ul,ol {
    padding: 0;
    line-height: 26px;
    margin: 0 0 15px 15px;
    color: var(--text-color)
}

p {
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color)
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: var(--text-color)
}

h1 {
    font-size: 1.4rem;
    line-height: 1.6rem
}

h2 {
    font-size: 1.3rem;
    line-height: 1.5rem
}

h3 {
    font-size: 1.2rem;
    line-height: 1.4rem
}

h4 {
    font-size: 1.1rem;
    line-height: 1.3rem
}

h5 {
    font-size: 1rem;
    line-height: 1.2rem
}

h6 {
    font-size: .9rem;
    line-height: 1.1rem
}

button {
    background: var(--link-primary);
    transition: all .2s ease-in-out;
    border-radius: 4px;
    border: none;
    color: var(--dark-bg-secondary);
    padding: 10px;
    font-weight: 700
}

button:hover {
    background: var(--link-secondary);
    transition: all .2s ease-in-out
}

input,select,textarea {
    width: 100%;
    background-color: var(--dark-bg-primary);
    padding: 15px;
    border-radius: 4px;
    border: none;
    color: var(--text-color)
}

input::-moz-placeholder {
    color: var(--text-color)
}

#main-wrapper {
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    position: relative;
    z-index: 1
}

#main-wrapper.show {
    opacity: 1
}

.content-body {
    margin-left: 250px;
    padding-top: 90px;
    margin-bottom: 50px
}

@media (max-width: 767.98px) {
    .content-body {
        margin-left:0;
        padding-top: 100px;
        margin-bottom: 50px
    }
}

.details .content-body {
    margin-left: 0
}

.dashboard .content-body {
    margin-left: 80px;
    margin-right: 0;
    margin-top: 0
}

@media only screen and (max-width: 767px) {
    .dashboard .content-body {
        margin-left:0
    }
}

a {
    color: var(--link-primary);
    text-decoration: none;
    outline: none
}

a:hover,a:focus,a.active {
    text-decoration: none;
    outline: none;
    color: var(--link-primary)
}

.bg-purple {
    background-color: #5848BB!important
}

.bg-transparent {
    background-color: transparent!important
}

.section-padding {
    padding: 100px 0
}

@media only screen and (max-width: 1199px) {
    .section-padding {
        padding:80px 0
    }
}

@media only screen and (max-width: 991px) {
    .section-padding {
        padding:75px 0
    }
}

@media only screen and (max-width: 767px) {
    .section-padding {
        padding:60px 0
    }
}

@media only screen and (max-width: 575px) {
    .section-padding {
        padding:50px 0
    }
}

.sidebar-menu-btn i,.search-menu-btn i,.signin-menu-btn i,.login-photo .ava img {
    color: var(--text-color);
    margin: 10px;
    cursor: pointer
}

.sidebar-menu-btn i {
    font-size: 28px;
    padding: 10px 0 10px 10px;
    margin: 0
}

.search-menu-btn i {
    font-size: 24px
}

.signin-menu-btn i {
    border: 2px solid var(--text-color);
    border-radius: 50%;
    margin-left: 15px;
    font-size: 20px
}

.login-photo .ava img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 15px
}

.login-photo .dropdown-menu {
    padding: 0;
    background: var(--dark-bg-primary);
    box-shadow: 0 0 2px 1px var(--dark-bg-secondary);
    overflow: hidden;
    border-radius: 4px;
    transform: translateY(50px)!important
}

.login-photo ul {
    list-style: none;
    margin: 0
}

.login-photo ul li {
    border-top: 1px solid var(--dark-bg-secondary)
}

.login-photo ul a {
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    transition: all .2s ease-in-out;
    padding: .5rem 1rem
}

.login-photo ul a:hover {
    background: var(--dark-bg-secondary);
    color: var(--text-color);
    transition: all .2s ease-in-out
}

.login-photo ul a:focus {
    background: var(--dark-bg-secondary);
    color: var(--text-color)
}

.login-photo ul a i {
    color: var(--link-primary);
    margin-right: 6px
}

.login-photo .user-info {
    padding: 1rem
}

.login-photo .user-info div {
    color: var(--text-color);
    font-weight: 700
}

.login-photo .user-info small {
    color: var(--text-color)
}

.navigation .navbar {
    background-color: transparent!important;
    padding: 0
}

.navigation .navbar ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto
}

@media only screen and (max-width: 991px) {
    .navigation .navbar ul {
        margin-top:15px
    }
}

.navigation .navbar ul > li {
    display: inline-block;
    padding: 0 7px;
    width: 100%
}

@media only screen and (max-width: 991px) {
    .navigation .navbar ul > li {
        border-bottom:1px solid #e5e5e5;
        margin: 0 15px;
        padding: 7px 15px
    }
}

.navigation .navbar ul > li > a {
    font-size: 16px;
    font-weight: 600;
    color: #070707
}

@media only screen and (max-width: 991px) {
    .navigation .navbar ul > li > a::after {
        position:absolute;
        right: 15px;
        top: 25px
    }
}

@media only screen and (min-width: 991px) {
    .navigation .navbar ul .dropdown > a {
        position:relative;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }

    .navigation .navbar ul .dropdown-menu {
        background: var(--text-color);
        padding: 15px 0;
        display: block;
        opacity: 0;
        visibility: hidden;
        z-index: 1030;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(22,28,45,0.15);
        box-shadow: 0 1.5rem 4rem rgba(22,28,45,0.15);
        border: 0;
        margin-top: 10px;
        z-index: 998;
        min-width: 10rem
    }

    .navigation .navbar ul .dropdown-menu a {
        display: inline-block;
        color: #7e7e7e
    }

    .navigation .navbar ul .dropdown-menu a:hover,.navigation .navbar ul .dropdown-menu a:focus,.navigation .navbar ul .dropdown-menu a:active,.navigation .navbar ul .dropdown-menu a.active {
        color: var(--link-primary);
        background: transparent
    }

    .navigation .navbar ul li.dropdown:hover a::before {
        opacity: 1;
        bottom: -9px
    }

    .navigation .navbar ul li.dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0
    }
}

@media only screen and (max-width: 991px) {
    .navigation .navbar ul .dropdown-menu {
        border:0;
        padding: 0
    }

    .navigation .navbar ul .dropdown-menu a {
        border-bottom: 1px solid #e5e5e5;
        padding: 15px;
        color: #7e7e7e
    }

    .navigation .navbar ul .dropdown-menu a:last-child {
        border: 0
    }

    .navigation .navbar ul .dropdown-menu a i,.navigation .navbar ul .dropdown-menu a h6,.navigation .navbar ul .dropdown-menu a .h6 {
        color: var(--link-primary)
    }

    .navigation .navbar ul .dropdown-menu a p {
        color: #7e7e7e;
        margin-bottom: 0
    }
}

.sidebar {
    position: fixed;
    background-color: var(--dark-bg-secondary);
    left: 0;
    height: calc(100%-20px);
    width: 250px;
    top: 0;
    z-index: 9999;
    bottom: 0;
    overflow-y: auto;
    border-radius: 0
}

#sidebar::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd
}

.sidebar-menu-btn,.search-menu-btn {
    display: none
}

.sidebar:-webkit-scrollbar {
    display: none
}

@media only screen and (max-width: 767px) {
    .sidebar {
        visibility:hidden
    }

    .sidebar-menu-btn,.search-menu-btn {
        display: block
    }

    .signin-menu-btn i,.login-photo .ava img {
        margin-left: 10px
    }
}

.brand-logo .full-logo {
    display: flex;
    margin: 30px;
    justify-content: center
}

.brand-logo .full-logo img {
    width: 80%
}

@media only screen and (max-width: 767px) {
    .brand-logo {
        display:none
    }
}

.menu {
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 50px;
    position: relative
}

.menu > ul {
    margin: 0
}

.menu > ul > li {
    margin-bottom: 10px;
    list-style: none
}

.menu > ul > li.active {
    background-color: var(--dark-bg-primary);
    border-radius: 6px
}

.menu > ul > li:hover a,.menu > ul > li:focus a,.menu > ul > li:active a {
    background-color: var(--dark-bg-primary);
    border-radius: 6px;
    color: var(--text-color)
}

.menu > ul > li:hover i,.menu > ul > li:focus i,.menu > ul > li:active i {
    opacity: 1
}

.menu > ul > li.active i {
    color: var(--link-primary);
    opacity: 1
}

.menu > ul > li i {
    color: var(--link-primary);
    font-size: 20px;
    font-weight: 400;
    margin-right: 15px;
    line-height: 0
}

.menu > ul > li > a {
    padding: 5px 8px;
    display: flex;
    align-items: center;
    min-height: 2rem;
    font-weight: 700;
    color: var(--text-color)
}

.menu > ul > li > a[data-bs-toggle="collapse"]::after {
    font-family: remixicon!important;
    content: '\EA4E';
    margin-left: 10px;
    transition: transform .35s ease;
    margin-top: 2px
}

.menu > ul > li > a[aria-expanded="true"]::after {
    transform: rotate(-180deg)
}

.menu > ul > li > ul {
    margin: 8px;
    text-align: left
}

.menu > ul > li ul > li {
    list-style: none
}

.menu > ul > li ul li > a {
    display: block;
    position: relative;
    padding: 6px 0 0 10px;
    color: var(--text-color);
    font-size: 13px
}

.menu > ul > li ul > li > a:after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 100;
    right: auto;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--link-primary);
    margin-top: 1px
}

.promotion {
    padding: 150px 500px 150px 80px;
    border-radius: 8px;
    margin-bottom: 30px;
    background: url(../images/preview1.jpg);
    background-repeat: repeat;
    background-size: auto;
    position: relative;
    z-index: 0;
    min-height: 280px
}

.promotion::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/xslivgirl.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 80px bottom -20px;
    z-index: 1
}

.promotion::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--dark-bg-primary);
    opacity: .95;
    z-index: -1
}

.promotion .promotion-detail {
    z-index: 2
}

.promotion .promotion-detail .promotion-title {
    line-height: 34px;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 1rem
}

.promotion .promotion-detail p {
    color: rgba(255,255,255,0.7);
    font-size: 1rem;
    margin-bottom: 15px
}

.promotion .promotion-detail .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    min-width: 150px;
    margin: 10px 0;
    font-size: .95rem;
    font-weight: 700;
    border-radius: 6px
}

.promotion .promotion-detail .btn i {
    font-size: 1.25rem;
    margin-right: 6px;
    font-weight: 400
}

.promotion .promotion-detail .btn-primary {
    background: var(--link-primary);
    border: none;
    color: var(--dark-bg-primary)
}

.promotion .promotion-detail .btn-primary:hover {
    background: var(--link-secondary)
}

.promotion .promotion-detail .btn-secondary {
    border: 1px solid var(--link-primary);
    background: transparent;
    color: var(--link-primary)
}

.promotion .promotion-detail .btn-secondary:hover {
    border: 1px solid var(--link-secondary);
    color: var(--link-secondary)
}

.promotion-detail .poster-info {
    display: inline-block;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 2px 10px;
    margin-bottom: 10px;
    font-size: .8rem
}

@media only screen and (max-width: 575px) {
    .promotion .promotion-detail .btn-primary,.promotion .promotion-detail .btn-secondary {
        width:100%
    }
}

@media only screen and (max-width: 1399px) {
    .promotion {
        padding:100px 400px 100px 80px
    }
}

@media only screen and (max-width: 1199px) {
    .promotion {
        padding:60px 400px 60px 40px
    }

    .promotion::before {
        background-position: right 40px bottom -20px
    }

    .promotion::after {
        opacity: .95
    }
}

@media only screen and (max-width: 991px) {
    .promotion {
        padding:50px 30px
    }

    .promotion::before {
        background-position: right 30px bottom -10px;
        z-index: -1
    }
}

@media only screen and (max-width: 576px) {
    .promotion {
        padding:30px
    }

    .promotion::before {
        opacity: .85
    }

    .promotion .promotion-detail .promotion-title {
        line-height: 26px;
        font-size: 1.4rem
    }

    .promotion .promotion-detail p {
        font-size: .9rem
    }
}

.header {
    position: absolute;
    background-color: var(--dark-bg-primary);
    padding: 20px 0;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 2
}

.header .brand-logo {
    display: none
}

@media only screen and (max-width: 991px) {
    .header .brand-logo {
        display:none
    }
}

@media only screen and (max-width: 767px) {
    .header .brand-logo {
        margin-right:10px;
        display: block
    }

    .header .brand-logo img {
        filter: none;
        width: 150px
    }

    .header .brand-logo span {
        display: none
    }
}

.header.landing {
    padding: 20px 0;
    left: 0
}

.header.landing a {
    display: flex;
    align-items: center;
    justify-content: center
}

.header.landing .brand-logo {
    display: block;
    margin-top: 0;
    margin-left: 0
}

.header.landing .brand-logo img {
    filter: none;
    margin-right: 10px
}

.header.landing .brand-logo span {
    display: block;
    top: 0
}

.header-content,.header-left,.header-right,.header-center {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center
}

.header-center {
    width: 100%
}

.mobile-search {
    width: 100%
}

.mobile-search .search {
    min-width: 100%;
    background: var(--dark-bg-secondary);
    padding: 6px 15px;
    border-radius: 4px
}

.mobile-search .search button {
    background: transparent;
    padding: 0;
    margin-right: 10px;
    border: none;
    color: var(--text-color);
    margin-top: 2px
}

.mobile-search .search span {
    font-size: 18px
}

.mobile-search .search input {
    width: 100%;
    color: var(--text-color);
    background: transparent;
    padding: 0
}

.mobile-search .search form {
    display: flex;
    align-items: center
}

.reg-page .label {
    font-size: 12px;
    margin-bottom: 4px
}

.reg-page input {
    width: 100%;
    background-color: var(--dark-bg-primary);
    padding: 15px;
    border-radius: 2px;
    border: none;
    color: var(--text-color)
}

.reg-page .check-login {
    display: flex;
    height: auto;
    padding: 4px 10px;
    border-radius: 2px
}

.tg-btn {
    display: flex;
    width: 100%;
    background: var(--link-primary);
    color: var(--text-color);
    padding: 10px;
    border-radius: 4px;
    justify-content: center;
    font-weight: 700
}

.tg-btn:hover {
    color: var(--text-color)
}

.tg-btn i {
    margin-right: 8px;
    font-weight: 400
}

.userinfo .useravatar {
    width: 100%;
    border-radius: 4px
}

.userinfo .status {
    display: inline-flex;
    align-items: center;
    background-color: var(--dark-bg-primary);
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    line-height: 18px;
    width: 100%
}

.userinfo .status i {
    color: var(--link-primary);
    margin-right: 8px;
    font-size: 18px
}

.userinfo .userbtn a {
    display: flex;
    background-color: var(--link-primary);
    border-radius: 2px;
    padding: 6px 10px;
    color: var(--dark-bg-secondary);
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600
}

.userinfo .userstat {
    display: flex;
    background-color: var(--dark-bg-primary);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px
}

.userinfo .userstat span {
    color: var(--link-primary);
    font-weight: 700;
    font-size: 20px
}

.userinfo .userstat p {
    margin: 0;
    text-align: center
}

.userinfo .userinfo-item {
    background-color: var(--dark-bg-primary);
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    color: var(--text-color)
}

.userinfo .preview-avatar img {
    width: 100%
}

.userinfo h1 {
    display: inline-block
}

.userinfo h1 span,.userinfo p span {
    color: var(--link-primary)
}

.userinfo label {
    margin-bottom: 4px
}

.userinfo .check-box input {
    width: auto;
    margin-right: 6px
}

.modal-content {
    border-radius: 4px;
    background-color: var(--dark-bg-primary);
    border: none
}

.modal-header {
    border: none
}

.modal-header > button {
    background: transparent;
    padding: 0
}

.modal-header > button > i {
    color: var(--text-color);
    font-size: 18px
}

.modal-title {
    display: inline-flex;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color)
}

.modal-title i {
    color: var(--link-primary);
    font-size: 18px;
    margin-right: 6px;
    font-weight: 400
}

.modal-body {
    display: flex;
    flex-direction: column
}

.modal-body input {
    width: 100%;
    background-color: var(--dark-bg-secondary);
    padding: 15px;
    border: none;
    margin-bottom: 10px;
    border-radius: 2px;
    color: var(--text-color)
}

.modal-body input::-webkit-input-placeholder {
    color: var(--text-color);
    opacity: 1
}

.modal-body input:-moz-placeholder {
    color: var(--text-color);
    opacity: 1
}

.modal-body input::-moz-placeholder {
    color: var(--text-color);
    opacity: 1
}

.modal-body input:-ms-input-placeholder {
    color: var(--text-color);
    opacity: 1
}

.modal-body input::-ms-input-placeholder {
    color: var(--text-color);
    opacity: 1
}

.modal-body input::placeholder {
    color: var(--text-color);
    opacity: 1
}

.modal-body button {
    border-radius: 2px;
    width: 100%
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 0!important;
    border: none
}

.modal-footer a {
    color: var(--text-color)
}

.modal-backdrop {
    background-color: var(--dark-bg-primary);
    opacity: 1!important
}

@media only screen and (max-width: 767px) {
    .header {
        left:0;
        background-color: var(--dark-bg-secondary)
    }

    .header-content {
        flex-wrap: wrap
    }

    .header-center {
        margin: 0
    }

    .header-center .search {
        background-color: var(--dark-bg-primary)
    }

    .profile_log > .profile_avatar {
        box-shadow: 0 0 5px 3px var(--dark-bg-primary)
    }

    .profile_log .dropdown-menu {
        right: -50px!important
    }

    .cat-card-title {
        font-size: .8rem!important
    }
}

@media only screen and (min-width: 768px) {
    .mobile-search {
        display:block!important
    }
}

.info_message {
    display: block;
    width: 100%;
    border: 3px solid var(--link-primary);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px
}

.info_message .info-title {
    font-size: 1.2rem;
    font-weight: 700
}

.info_message p {
    margin: 0
}

.add-answer {
    display: flex;
    box-shadow: 0 0 5px #000;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 6px
}

.form-group {
    width: calc(100% - 30px);
    margin-bottom: 0
}

.send-mess {
    background-color: var(--link-primary);
    border: none;
    width: 30px;
    color: var(--text-color);
    border-radius: 0 6px 6px 0;
    padding: 0
}

.send-mess:hover {
    color: var(--text-color)
}

.answer-fixed {
    margin-bottom: 20px
}

.girls-sidebar-item {
    background: var(--dark-bg-secondary);
    border-radius: 4px;
    overflow: hidden
}

.girls-sidebar-item .girls-sidebar-title {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--dark-bg-primary);
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem
}

.girls-sidebar-item .girls-sidebar-title i {
    color: var(--link-primary);
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: 8px
}

.girls-sidebar-item ul {
    margin: 0;
    padding: 20px
}

.girls-sidebar-item ul li {
    list-style: none;
    margin-bottom: 15px;
    font-size: .9rem;
    font-weight: 600
}

.girls-sidebar-item ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color)
}

.girls-sidebar-item ul li:last-child {
    margin-bottom: 0
}

.girls-sidebar-item ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px
}

.girls-sidebar-item ul li h6 {
    margin: 0
}

.girls-sidebar-item .sidebar-adv {
    width: 100%
}

.girls-sidebar-item .top-likes {
    display: flex;
    padding: 0 10px;
    align-items: center
}

.girls-sidebar-item .top-likes i {
    font-size: 1rem;
    margin-right: 4px;
    font-weight: 400;
    color: var(--link-primary)
}

.girls-info .girls-preview {
    width: 100%;
    border-radius: 4px 4px 0 0
}

.girls-info .girls-name {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.4rem
}

.girls-info .girls-gallery img {
    width: 100%;
    border-radius: 4px 4px 0 0
}

.girls-info ul,.girls-info ol {
    padding-left: 10px
}

.gilrs-info-item {
    background: var(--dark-bg-primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--text-color)
}

.gilrs-info-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--text-color)
}

.gilrs-info-item i {
    color: var(--link-primary);
    margin-right: 10px;
    font-size: 18px
}

.girls-info .likes a {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: var(--link-primary);
    color: var(--text-color);
    border-radius: 0 0 4px 4px;
    font-weight: 700;
    font-size: .9rem
}

.girls-info .likes a i {
    margin-right: 8px;
    font-size: 1.1rem;
    font-weight: 400
}

.girls-info .contents {
    background: var(--dark-bg-primary);
    border-radius: 4px;
    padding: 15px
}

.girls-info .contents .contents-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px
}

.girls-info .contents ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.girls-info .contents ul li:before {
    position: relative;
    content: "\EA54";
    font-family: remixicon!important;
    left: 0;
    margin: 0;
    padding-right: 6px;
    top: 2px;
    color: var(--link-primary)
}

.girls-info .contents ul a {
    color: var(--text-color)
}

.girls-info .circle-img {
    border-radius: 50%;
    border: 3px solid var(--link-primary);
}

.girls-info .gilrs-circle {
    background: var(--dark-bg-primary);
    border-radius: 4px;
    padding: 15px
}

.girls-info .gilrs-circle img {
    border-radius: 50%;
    border: 4px solid var(--dark-bg-primary)
}

.girls-info .gilrs-circle .gilrs-circle-title {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px
}

.rating-comments .comment-body {
    padding: 0
}

.rating-comments .comment-body .mass_comments_action {
    display: none;
    flex-direction: column;
    color: var(--text-color)
}

.rating-comments .comment-body .mass_comments_action select,.rating-comments .comment-body .mass_comments_action input {
    margin-top: 15px;
    background: var(--dark-bg-primary);
    color: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 4px
}

.rating-comments .comment-body .comment {
    padding: 20px;
    background: var(--dark-bg-primary);
    border-radius: 2px
}

.rating-comments .comment-body .comment .com_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 10px;
    flex-wrap: wrap
}

.rating-comments .comment-body .comment .com_info .avatar {
    display: flex;
    align-items: center
}

.rating-comments .comment-body .comment .com_info .avatar a {
    display: flex;
    margin: 0 10px
}

.rating-comments .comment-body .comment .com_info .avatar .cover {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 8px
}

.rating-comments .comment-body .comment .com_btn {
    line-height: 22px
}

.rating-comments .comment-body .comment .com_btn .meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px
}

.rating-comments .comment-body .comment .com_btn .meta span {
    display: inline-flex;
    align-items: center;
    color: var(--link-primary);
    font-weight: 700;
    line-height: 18px;
    cursor: pointer
}

.rating-comments .comment-body .comment .com_btn .meta span i {
    font-weight: 400;
    margin-left: 4px;
    font-size: 16px;
    line-height: 18px
}

.rating-comments .comment-body .comment .com_btn .meta .rate .rate_like-dislike {
    display: flex
}

.rating-comments .comment-body .comment .com_btn .meta .rate .rate_like-dislike a {
    background: var(--dark-bg-secondary);
    padding: 0 6px
}

.rating-comments .comment-body .comment .com_btn .meta .rate .rate_like-dislike a:first-child {
    color: var(--link-secondary);
    border-radius: 2px 0 0 2px;
    border-right: 2px solid var(--dark-bg-primary)
}

.rating-comments .comment-body .comment .com_btn .meta .rate .rate_like-dislike a:last-child {
    color: var(--link-primary);
    border-radius: 0 2px 2px 0;
    border-left: 2px solid var(--dark-bg-primary)
}

.rating-comments .comment-body .comment .com_btn .meta .rate .rate_like-dislike span {
    background: var(--dark-bg-secondary);
    color: var(--text-color);
    padding: 0 6px;
    font-size: 12px
}

.rating-comments .comment-body .comment .com_btn ul {
    background: var(--dark-bg-secondary);
    padding: 4px 10px;
    margin: 10px 0 0;
    border-radius: 2px
}

.rating-comments .comment-body .comment .com_btn ul li a {
    font-size: 12px
}

.rating-comments .comment-body .comment .com_btn ul li a i {
    margin-right: 4px
}

.rating-comments .comment-body .comment .com_btn ul li:last-child {
    margin-right: 0
}

.rating-comments .comment-body .comment .com_btn .show ul,.thread-settings {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none
}

.rating-comments .comment-body .comment .com_btn .show ul li,.thread-settings li {
    margin-right: 10px
}

.rating-comments .comment-body .comment .com_btn .show ul a,.thread-settings a {
    color: var(--text-color)
}

.rating-comments .comment-body .comment .com_btn .show ul a i,.thread-settings a i {
    color: var(--link-primary)
}

.rating-comments .comment-body .comment .com_btn .collapsing ul {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none
}

.rating-comments .comment-body .comment .com_btn .collapsing ul li {
    margin-right: 10px
}

.rating-comments .comment-body .comment .com_btn .collapsing ul a {
    color: var(--text-color)
}

.rating-comments .comment-body .comment .com_btn .collapsing ul a i {
    color: var(--link-primary)
}

.rating-comments .comment-body .comments-tree-list {
    line-height: 18px
}

.rating-comments .comment-body .comments-tree-list li {
    list-style: none
}

.rating-comments .comment-body .com_btn .meta span[data-bs-toggle="collapse"]::after {
    font-family: remixicon!important;
    content: '\EA4E';
    margin-left: 4px;
    transition: transform .35s ease;
    margin-top: 2px
}

.rating-comments .comment-body .com_btn .meta span[aria-expanded="true"]::after {
    transform: rotate(-180deg)
}

.ads-banner img {
    width: 100%;
    border-radius: 6px
}

.private .private_card,.sidebar-carousel .private_card {
    position: relative
}

.private .private_card img {
    border-radius: 4px 4px 0 0;
    transition: all .2s ease-in-out
}

.sidebar-carousel .private_card img {
    border-radius: 0
}

.private .private_card img:hover,.sidebar-carousel .private_card img:hover {
    background: var(--dark-bg-primary);
    opacity: .5;
    transition: all .2s ease-in-out
}

.private .private_card .go_site {
    display: flex;
    width: 100%;
    background: var(--link-primary);
    justify-content: center;
    color: var(--text-color);
    padding: 10px;
    font-weight: 700;
    border-radius: 0 0 2px 2px
}

.private .find_city a {
    display: inline-block;
    background: var(--link-primary);
    padding: 2px 10px;
    border-radius: 2px;
    color: var(--text-color);
    margin: 0 6px 8px 0;
    transition: all .2s ease-in-out
}

.private .find_city a:hover {
    background: var(--link-secondary);
    transition: all .2s ease-in-out
}

.private .aplpavite {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px
}

pjsdiv {
    border-radius: 4px
}

.cat-card {
    position: relative;
    border-radius: 4px;
    overflow: hidden
}

.cat-card:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--dark-bg-primary);
    opacity: .6;
    z-index: 0
}

.cat-card a {
    display: flex;
    align-items: center;
    justify-content: center
}

.cat-card .cat-card-title {
    position: absolute;
    z-index: 1;
    background: var(--link-primary);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem
}

.cat-card img {
    width: 100%
}

#loading-layer {
    background: var(--dark-bg-primary);
    padding: 10px;
    text-align: center;
    color: var(--text-color);
    border-radius: 2px
}

#loading-layer.withouttext {
    background: #000;
    padding: 5px 5px 0;
    text-align: center;
    color: var(--text-color);
    border-radius: 50%
}

#loading-layer.withtext {
    padding: 10px;
    background: #000;
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 0 3px 6px #000 0 3px 6px #000
}

.scriptcode,.title_quote,.title_spoiler,.text_spoiler,.quote,blockquote {
    padding: 10px 10px 10px 20px;
    background: var(--dark-bg-primary);
    border-radius: 4px;
    margin-bottom: 10px;
    border-left: 4px solid var(--link-primary);
    color: var(--text-color)
}

.title_quote {
    border-left: 2px solid #e85319;
    border-bottom: 0;
    margin-top: 2px;
    font-weight: 700
}

.title_spoiler {
    margin-top: 2px
}

.text_spoiler {
    margin-bottom: 2px
}

.title_spoiler img {
    vertical-align: middle;
    margin: -1px 0 0!important
}

.scriptcode {
    color: #4c6d0f;
    text-align: left;
    font-family: "Courier New"
}

.title_spoiler {
    font-weight: 400
}

.text_spoiler {
    border-top: 0;
    text-align: justify
}

.hide {
    background-color: #f0f0f0;
    padding: 5px;
    color: #4c6d0f;
    margin: 0 0 1em
}

.hide a {
    text-decoration: underline
}

.hide a:hover {
    text-decoration: none
}

.ui-front {
    z-index: 1000
}

.ui-widget-overlay {
    background: #061620;
    opacity: .9;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed
}

.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

.ui-helper-clearfix {
    display: inline-block
}

* html .ui-helper-clearfix {
    height: 1%
}

.ui-helper-clearfix {
    display: block
}

.ui-dialog {
    text-align: left;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 370px;
    border-radius: 4px;
    background-color: var(--dark-bg-primary);
    border: 3px solid var(--link-primary);
    outline: none
}

.ui-dialog-titlebar {
    padding: 20px;
    position: relative
}

.ui-dialog-title {
    float: left;
    font-weight: 700;
    font-size: 1.15em
}

.ui-dialog-titlebar-close {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -16px!important;
    height: 23px!important;
    width: 32px;
    border: 0 none!important;
    background-color: inherit!important;
    box-shadow: none!important;
    padding: 0!important
}

.ui-dialog-titlebar-close .ui-icon {
    display: block;
    margin: 10px auto 0;
    width: 12px;
    height: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAG1BMVEUAAAA1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTW7eCkWAAAACHRSTlMA8DiyCsELwNb3saQAAABlSURBVBjTY2AxYoACZQcG10YFCJtJooTBokMIwlHsaAZioBRYAigKJoAAJAghoRIQCiYEoSEiUCmIBFQKLAGTAkvApCASCA6GMoQBGEYjLEV1DopDUbyA4jlUb6ciAiSMgQ0pqAB4linXHtbaoQAAAABJRU5ErkJggg==);
    -webkit-background-size: 12px auto;
    background-size: 12px auto;
    opacity: .5
}

.ui-button {
    float: right;
    border: 0 none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    height: 36px;
    border-radius: 18px;
    line-height: 22px;
    outline: none;
    background-color: var(--dark-bg-primary);
    color: var(--text-color);
    border: 0 none;
    padding: 7px 22px;
    text-decoration: none!important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease .1s;
    transition: all ease .1s
}

.ui-dialog-titlebar-close:hover .ui-icon {
    opacity: 1
}

.ui-icon,.ui-button-icon-only {
    overflow: hidden;
    text-indent: -9999px
}

.ui-dialog label {
    color: #575757
}

.ui-dialog-content {
    padding: 20px;
    overflow: auto;
    position: relative;
    zoom:1}

.loginbox.ui-dialog,.loginbox .ui-dialog-content {
    overflow: visible!important
}

.ui-dialog-content h2 {
    display: inline;
    font-size: 1em;
    font-weight: 700
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 20px;
    text-align: center
}

.ui-dialog .ui-resizable-se {
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move
}

.ui-state-error {
    background: #fef1ec 50% 50% repeat-x!important;
    border: 1px solid #cd0a0a;
    color: #cd0a0a
}

.ui-button {
    margin: 0 3px
}

.ui-helper-hidden-accessible {
    display: none
}

#dlefastreplycomments {
    padding: 0 4% 10px
}

#dle-comments-list > .comments-tree-list > li .comments-tree-list > li #dlefastreplycomments {
    padding: 0 0 10px
}

.xsliv-item {
    position: relative;
    margin-bottom: 15px;
    border: none;
    background: transparent;
    box-shadow: none
}

.xsliv-item-header {
    padding: 0;
    margin-bottom: 15px
}

.xsliv-item-title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem
}

.xsliv-item-title i {
    color: var(--link-primary);
    font-size: 1.4rem;
    margin-right: 8px;
    line-height: 1.8rem;
    vertical-align: middle;
    padding-bottom: 5px
}

.xsliv-item.transparent {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0
}

.xsliv-item.transparent .xsliv-item-header {
    border: 0;
    padding: 0
}

.xsliv-item.transparent .xsliv-item-body {
    padding: 0;
    background: transparent
}

.xsliv-item .xsliv-item-body {
    position: relative;
    padding: 15px;
    background: var(--dark-bg-secondary);
    border-radius: 4px
}

.xsliv-item .xsliv-item-body .checkvideo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: var(--link-primary);
    height: 2rem;
    width: 8rem;
    transform: rotate(45deg);
    top: 1rem;
    right: -2rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 700
}

.xsliv-item .xsliv-item-body .item-info {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color)
}

.xsliv-item .xsliv-item-body .item-info a {
    display: inline-flex;
    align-items: center;
    color: var(--text-color)
}

.xsliv-item .xsliv-item-body .item-info i {
    color: var(--link-primary);
    font-weight: 400;
    margin-right: 6px;
    font-size: 16px;
    vertical-align: sub
}

.xsliv-item #fullsearch {
    margin-bottom: 15px
}

@media only screen and (min-width: 1200px) {
    .xsliv-item .xsliv-item-body {
        padding:20px
    }
}

.xsliv-item .xsliv-item-footer {
    padding: 30px;
    background: var(--text-color)
}

.items {
    border-radius: 4px;
    overflow: hidden
}

.items .title {
    position: absolute;
    bottom: 0;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    width: 100%;
    padding: 10px;
    z-index: 1
}

.items .title:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--dark-bg-primary);
    opacity: .9;
    z-index: -1
}

.items .title .short-info {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px
}

.items .xsliv-item-title {
    display: inline-block;
    color: var(--text-color);
    margin: 0;
    width: 100%;
    text-align: center
}

.items .items-image {
    border-radius: 4px;
    position: relative;
    overflow: hidden
}

.items .items-image img {
    border-radius: 0 0 5px 5px
}

.speedbar {
    margin-left: 250px;
    border-top: 1px solid var(--dark-bg-secondary);
    padding: 30px 0;
    color: var(--text-color)
}

.speedbar a {
    color: var(--text-color);
    font-weight: 600
}

footer {
    margin-left: 250px;
    border-top: 1px solid var(--dark-bg-secondary)
}

footer .footer-links ul {
    margin: 0 0 15px
}

footer .footer-links li {
    list-style: none
}

footer .footer-links li a {
    position: relative;
    color: var(--text-color);
    line-height: 26px
}

footer .footer-links li a:before {
    position: relative;
    content: "\EA54";
    font-family: remixicon!important;
    left: 0;
    margin: 0;
    padding-right: 6px;
    top: 2px;
    color: var(--link-primary)
}

footer .footer-title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px
}

@media only screen and (max-width: 767px) {
    footer,.speedbar {
        margin:0
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0
}

.pagination span,.pagination a {
    display: flex;
    margin-bottom: 6px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--text-color);
    margin-right: 10px
}

.pagination span {
    background: var(--dark-bg-secondary)
}

.pagination a {
    background: var(--link-primary);
    transition: all .2s ease-in-out
}

.pagination a:hover {
    background: var(--link-secondary);
    transition: all .2s ease-in-out
}

.sort {
    list-style: none;
    margin: 0 0 10px
}

.sort li {
    display: inline-block;
    background: var(--dark-bg-secondary);
    border-radius: 4px;
    margin: 0 10px 10px 0
}

.sort li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 14px;
    color: var(--text-color);
    font-weight: 700
}

.sort li a i,.sort .btn i,.sort .dropdown-menu .dropdown-item i {
    margin-right: 6px;
    font-size: 1rem;
    color: var(--link-primary);
    font-weight: 400
}

.sort .sort-clear a i {
    margin: 0
}

.sort li.asc {
    background: var(--link-primary)
}

.sort li.asc a {
    color: var(--text-color)
}

.sort li.asc a i {
    color: var(--text-color)
}

.sort li li {
    display: flex;
    margin: 0
}

.sort li li a {
    justify-content: start
}

.sort .btn {
    display: flex;
    align-items: center;
    background: var(--dark-bg-secondary);
    border-radius: 4px;
    color: var(--text-color);
    font-weight: 700;
    padding: 3px 14px;
    line-height: 26px
}

.sort .dropdown-menu {
    background: var(--dark-bg-secondary);
    border: none;
    border-radius: 4px;
    padding: 0;
    overflow: hidden
}

.sort .dropdown-menu .dropdown-item {
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    padding: .4rem .9rem;
    width: 100%
}

.sort .dropdown-menu .dropdown-item:hover {
    background: var(--dark-bg-primary)
}

.pm .pm-btn a {
    padding: 4px 10px;
    background: var(--link-primary);
    border-radius: 4px;
    color: var(--text-color)
}

.pm input#outboxcopy {
    width: auto;
    margin-right: 4px
}

.userstop td,.pm td.pm_list,.pm td.pm_head {
    border-bottom: 1px solid #efefef;
    padding: 12px 2px
}

table.pm,table.userstop {
    width: 100%;
    margin-bottom: 0
}

table.pm select {
    width: 100px
}

.userstop thead td,.pm td.pm_head {
    border-bottom: 1px solid #efefef;
    font-weight: 700
}

table.pm .navigation {
    border-top-width: 0;
    margin: 0
}

.go_top {
    position: fixed;
    display: none;
    width: 30px;
    height: 30px;
    background: var(--link-primary);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    right: 10px;
    bottom: 10px
}
